/.nvm
/.vscode
/array(reference types).png
/basic types of variables.png
/Ganache-2.5.4-win-x64.appx
/inbox1
/node_modules
/package-lock.json
/package.json
/ReduxSimpleStarter-master
/ReduxSimpleStarter-master.zip
/Screenshot 2022-11-02 103944.png
/stocks.png
/Web3